header {
    background-color: rgb(98, 133, 189);
    font-size: large;
    display: grid;
    justify-content: center;
}

.logos__head {
    display: flex;
    justify-content: center;

}

.logo__head {
    padding: 10px;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;

    li {
        list-style-type: none;
        padding: 10px;
        background-color: white;
        margin: 10px;

        a {
            text-decoration: none;
            color: black;
            padding: 10px;
        }
    }
}